//Put the process_map.html code's into here.
//source from static/us.svg, not from just us.svg
//TODO, get state_populations.csv

//{% for key in growth %}
//    state = "{{ key }}"
//    state_shape = states.getChild(state);
//    state_shape.disableStyle();
//    fill(0,0, {{ growth[key] }} * 8 + 128);
//    shape(state_shape,0,0);
//  <li>{{ key }} = {{ growth[key] }}</li>
//{% endfor %}

//Put at bottom of html body, below map
//<hr>
//Pass in the growth table and assign
//<ul>
//{% for key in growth %}
//  <li>{{ key }} = {{ growth[key] }}</li>
//{% endfor %}
//</ul>
//<hr>
//<hr>